<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.kuailaimei.client">

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="cn.kuailaimei.client.BeautApplication">
        <activity android:name="cn.kuailaimei.client.home.ui.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.kuailaimei.client.home.ui.BeautyActivity"
            android:screenOrientation="portrait"
       />
        <activity android:name="cn.kuailaimei.client.shop.ui.ShopHomeActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="cn.kuailaimei.client.shop.ui.ShopDetailActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="cn.kuailaimei.client.shop.ui.DesignerHomeActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="cn.kuailaimei.client.shop.ui.ChooseAssistantActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="cn.kuailaimei.client.login.ui.RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible"/>

        <activity android:name="cn.kuailaimei.client.login.ui.ModifyPassWordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible"/>

        <activity android:name="cn.kuailaimei.client.login.ui.ForgetPassWordActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateVisible"/>
        <activity android:name="cn.kuailaimei.client.login.ui.LoginActivity"
            android:screenOrientation="portrait"
            />
        <activity android:name="cn.kuailaimei.client.mine.ui.ProfileInfoActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="cn.kuailaimei.client.common.ui.PhotoDirActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zitech.framework.crop.CropActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="cn.kuailaimei.client.common.ui.PhotoGridActivity"
            android:screenOrientation="portrait" />
        <activity android:name="cn.kuailaimei.client.mine.ui.AboutUsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="cn.kuailaimei.client.mine.ui.FeedBackActivity"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.kuailaimei.client.mine.ui.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.kuailaimei.client.mine.ui.MyScoreActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.kuailaimei.client.mine.ui.OrderListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.kuailaimei.client.mine.ui.MyFavoriteActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.kuailaimei.client.mine.ui.MyOrderListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.kuailaimei.client.mall.ui.ScoreOrderDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.kuailaimei.client.shop.ui.ConfirmOrderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.kuailaimei.client.mine.ui.CommentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="cn.kuailaimei.client.mine.ui.PayWithExistOrderActivity"
            android:screenOrientation="portrait"/>

        <!-- 百度地图相关配置 start-->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Tgf4KOzOLTcOCnIhNI8R6f6jAPviCcfT" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <!-- 百度地图相关配置 end-->

        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- alipay sdk end -->
        <!-- wxpay begin -->
        <activity
            android:name="cn.kuailaimei.client.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver android:name="cn.kuailaimei.client.wxapi.AppRegister" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
        <!-- wxpay end -->

        <service android:name="com.szxxyd.gifttabletlib.service.DownLoadApkService"/>

    </application>

</manifest>